language: node_js
node_js:
  - node
addons:
  chrome: stable
install: npm install
before_script:
  - npm install -g grunt
  - export NODE_OPTIONS=--max_old_space_size=2048
script:
  - grunt lint
  - grunt test
  - grunt docs
  - grunt node
  - grunt prod --msg="$COMPILE_MSG"
before_deploy:
  - grunt exec:sitemap
  - grunt copy:ghPages
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: build/prod/
    target_branch: gh-pages
    on:
      repo: nfcim/CyberChef
      branch: master
